body {
  background-image: linear-gradient(#300b05 10%, black);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 0.85rem;
}

/* .container-fluid {
} */

/* -------------------------
  SIDEBAR 
  ---------------------------*/

#sidebar {
  background-color: #000000;
}

#sidebar div {
  display: flex;
  align-items: center;
}

#logo img {
  width: 9rem;
  object-fit: cover;
}

.sidebar-align-left {
  margin-left: 0.75rem;
}

.sidebar-text {
  font-weight: bold;
}

/* -------------------------
  PROFILE SECTION 
  ---------------------------*/
#profile-div,
.arrow-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile-div .bi {
  font-size: 0.85rem;
  color: white;
}

#profile button,
#profile .badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile button {
  border-radius: 30px;
  padding: 0.15rem 0.5rem;
}

#profile .badge {
  padding: 0;
  align-self: center;
  font-size: 2rem;
}

#profile .bi {
  font-size: 1.5rem;
}

.customizeInput {
  width: 50%;
}

#resetInput {
  background-color: black;
}

/* -------------------------
  UTILITY CLASSES
  ---------------------------*/

GOOD MORNING Section #goodMorning p {
  padding: 0;
}

.img-goodMorning {
  width: 4rem;
  object-fit: cover;
  border-radius: 3px;
}

.bg-goodMorning {
  width: 20rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.1);
}

#recentlyPlayed-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-recentlyPlayed {
  background-color: rgba(255, 255, 255, 0.1);
}

.card-img-top {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

#seeAll {
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: bolder;
}

.card-body {
  height: 100px;
}

/* -------------------------
FIXED ROW
---------------------------*/
#fixedContainer {
  padding: 0.5rem;
  background-color: black;
  margin: 0 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: sticky;
  bottom: 0;
}

/* -----------
LEFT FIXED 
-------------*/
#fixed-left {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 10%;
}

#fixed-left img {
  width: 55px;
  object-fit: cover;
}

/* .play {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
} */

.title-left p {
  margin: 0;
}

#fixed-left .bi {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.4);
}

/* -----------
MIDDLE FIXED 
-------------*/
#fixed-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

#middle-top,
#middle-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

#middle-top .bi {
  font-size: 0.9rem;
}

#middle-bottom .total {
  display: inline-block;
  width: 400px;
  height: 3px;
  /* border: 2px solid rgba(255, 255, 255, 0.4); */
  background-color: rgba(255, 255, 255, 0.3);
}

#middle-bottom .progress {
  display: inline-block;
  width: 20px;
  height: 3px;
  /* border: 2px solid rgba(255, 255, 255, 0.7); */
  background-color: rgba(255, 255, 255, 0.7);
}

#totalAndProgress {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* -----------
RIGHT FIXED 
-------------*/
#fixed-right {
  display: flex;
  justify-content: start;
  align-items: center;
}

#fixed-right .bi {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.4);
}

#fixed-right .volume {
  display: inline-block;
  width: 80px;
  height: 3px;
  /* border: 2px solid rgba(255, 255, 255, 0.7); */
  background-color: rgba(255, 255, 255, 0.7);
}

/* -------------------------
UTILITY CLASSES
---------------------------*/

.bi {
  font-size: 1.5rem;
  cursor: pointer;
}

.bi:hover {
  transform: scale(1.1);
}

.round,
.round-white {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-white {
  background-color: rgba(255, 255, 255, 0.8);
}

.transparent {
  background-color: rgba(0, 0, 0, 1);
  border: transparent;
}

.grow {
  transition: transform 350ms ease-out;
  cursor: pointer;
}

.grow:hover {
  transform: scale(1.05);
}

.padding-top {
  padding-top: 1.5rem;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.justify-content-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.img-small {
  width: 1.5rem;
  /* height: 1rem; */
  object-fit: cover;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
}

.line-clamp-2,
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.bold {
  font-weight: bold;
}

.faded {
  color: rgba(255, 255, 255, 0.4);
}

.albumLinks {
  text-decoration: none;
  color: white;
}

.albumLinks:hover {
  color: wheat;
  text-decoration: none;
}

.search-anchor,
.search-anchor:hover {
  text-decoration: none;
  color: white;
}
