body {
  background-image: linear-gradient(#300b05, black);
  color: white;
}

.container-fluid {
}

/* -------------------------
SIDEBAR 
---------------------------*/

#sidebar {
  background-color: #000000;
}

#logo img {
  width: 9rem;
  object-fit: cover;
}

.sidebar-align-left {
  margin-left: 0.75rem;
}

.sidebar-text {
  font-weight: bold;
}

/* -------------------------
PROFILE SECTION 
---------------------------*/
#profile-div,
.arrow-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile-div .bi {
  font-size: 0.85rem;
  color: white;
}

#profile button,
#profile .badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile button {
  border-radius: 30px;
  padding: 0.15rem 0.5rem;
}

#profile .badge {
  padding: 0;
  align-self: center;
  font-size: 2rem;
}

#profile .bi {
  font-size: 1.5rem;
}

/* -------------------------
UTILITY CLASSES
---------------------------*/

.bi {
  font-size: 1.5rem;
  cursor: pointer;
}

.bi:hover {
  transform: scale(1.1);
}

.round {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.transparent {
  background-color: rgba(0, 0, 0, 1);
  border: transparent;
}

.grow {
  transition: transform 350ms ease-out;
}

.grow:hover {
  transform: scale(1.05);
}

.padding-top {
  padding-top: 1.5rem;
}

.flex-align-center {
  display: flex;
  align-items: center;
}
