nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-styling {
  margin-top: 1rem;
  height: 100px;
  object-fit: cover;
}

nav {
  background-color: white;
}

.container-width {
  width: 25%;
}

.fb-styling {
  border-radius: 25px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

#continue {
  text-align: center;
  font-weight: bold;
}

.or-text {
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  /* padding: 0 0.5rem; */
  /* background-color: white; */
  transform: translateY(20%);
  /* display: inline-block; */
  /* z-index: 1; */
}

#lockAndInfo {
  display: flex;
  justify-content: end;
}

.lock {
  width: 25px;
  object-fit: cover;
  transform: translateX(-25%) translateY(-105%);
}

.faded-text {
  color: rgba(0, 0, 0, 0.4);
}

#checkboxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkBtn {
  width: 15rem;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

#forgot {
  display: flex;
  justify-content: center;
  align-items: center;
}

#account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#acountQ {
  font-weight: bold;
}

.acc-styling {
  border-radius: 25px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.9rem;
  background-color: white;
  border: 3px solid black;
}

#terms_and_privacy {
  display: flex;
  justify-content: center;
  align-items: center;
}

#TandC {
  font-size: 0.85rem;
  text-align: center;
}
